<!-- Data Tables Plugin Script -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/zf-5.5.2/dt-1.10.8,r-1.0.7/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/dt-1.10.8,r-1.0.7/datatables.min.js"></script>

<table id="stocks">
  <thead id="stocks-head">
      <tr id="stocks-head-row"></tr>
  </thead>

  <tbody id="stocks-body">

  </tbody>

</table>

<table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>

<script>
  $(document).ready(function() {
    $.ajax({
      url: '../stocks/<%-user.id %>',
      type: 'GET',
      dataType: 'JSON',
      success: function(data) {
        //add table head
        $.each(data[0], function(property, value) {
          console.log(property);
          $('#stocks-head-row').append('<th>' + property + '</th>');
        });

        //add table rows
        $.each(data, function(index, stock) {
          var row = '<tr>';
          $.each(stock, function(property, value) {
            console.log(property + " -> " + value);
            row += '<td>' + value + '</td>';
          });
          row += '</tr>';
          $('#stocks-body').append(row);
        });
      },
      error: function(err) {
        console.log(err);
      }
    }).done(function() {
      $('#stocks').DataTable();
    });
  });

</script>
